@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}


.p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:lightyellow;
    height: 100vh;
}

.box{
    display: block;
    text-align: center;
    border: 10px solid black;
    border-radius: 50%;
    background-color: white;
    width: 400px;
    height: 400px;
}

.Win{
    color: rgb(141, 194, 18);
    border: 10px solid rgb(160, 220, 20);
    box-shadow: 0 0 30px rgb(170, 255, 0);
}

.Lose{
    background-color: rgb(235, 235, 235);
    color:rgb(183, 15, 49);
    filter: saturate(50%);
    border: 10px solid rgb(183, 15, 49);
}

.Tie{
    color: rgb(85, 85, 85);
    border: 10px solid gray;
}

.item-img{
    width: 200px;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.choose{
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 40px;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 50px;
    width: 50px;
    height: 50px;
}

.btn:active{
    color: rgb(208, 208, 130);
    transform: scale(0.95);
}

.btn-sci{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    font-size: 50px;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
}

.btn-sci:active{
    color: rgb(208, 208, 130);
    transform: scale(0.95) rotate(90deg);
}

.title{
    font-family: 'Ownglyph_ParkDaHyun';
    font-weight: 800;
    font-size: 50px;
    color: black;
}

.result{
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 40px;
}

@media (max-width: 430px) {  

    .box {
        width: 70vw;
        height: 70vw;
        max-width: 400px;
        max-height: 400px;
    }

    .item-img {
        width: 35%;
    }

    .main {
        flex-direction: column;
        gap: 2em;
    }

    .choose {
        font-size: 30px;
    }

    .buttons {
        flex-wrap: wrap;
        gap: 1em;
    }

    .btn {
        font-size: 40px;
        width: 60px;
        height: 60px;
    }
    
    .btn-sci {
        font-size: 40px;
        width: 60px;
        height: 60px;
    }

    .title {
        font-size: 50px;
        margin: 25px;
    }

    .result {
        font-size: 30px;
        margin: 25px;
    }
}
